<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/media/assets/css/bootstrap.min.css">

<!-- Customizable CSS -->
<link rel="stylesheet" href="/media/assets/css/main.css">
<link rel="stylesheet" href="/media/assets/css/green.css">
<link rel="stylesheet" href="/media/assets/css/owl.carousel.css">
<link rel="stylesheet" href="/media/assets/css/owl.transitions.css">
<link rel="stylesheet" href="/media/assets/css/animate.min.css">

<!-- Datatables CSS -->
<link rel="stylesheet" href="/media/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/media/css/datatables.css">

<!-- Demo Purpose Only. Should be removed in production -->
<link rel="stylesheet" href="/media/assets/css/config.css">

<link href="/media/assets/css/green.css" rel="alternate stylesheet" title="Green color">
<link href="/media/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
<link href="/media/assets/css/red.css" rel="alternate stylesheet" title="Red color">
<link href="/media/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
<link href="/media/assets/css/navy.css" rel="alternate stylesheet" title="Navy color">
<link href="/media/assets/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
<!-- Demo Purpose Only. Should be removed in production : END -->

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

<!-- Icons/Glyphs -->
<link rel="stylesheet" href="/media/assets/css/font-awesome.min.css">

<!-- Favicon -->
<link rel="shortcut icon" href="/media/assets/images/favicon.ico">

<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
<!--[if lt IE 9]>
	<script src="/media/assets/js/html5shiv.js"></script>
	<script src="/media/assets/js/respond.min.js"></script>
<![endif]-->

<!-- Custom CSS -->
<link rel="stylesheet" href="/media/assets/css/custom.css">

